<section>
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">{{user.name}}</h5>
                            <div class="d-flex justify-content-center mb-2">
                                <a class="btn btn-primary" href="/orders">Orders</a>
                                <a href="" class="btn btn-outline-primary ms-1" data-toggle="modal"
                                    data-target="#modalRegisterForm">Edit Profile</a>
                            </div>
                            <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header text-center">
                                            <h4 class="modal-title w-100 font-weight-bold">Edit Profile</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form method="post" action="/profile/edit-user">
                                            <div class="my-5">
                                                <div class="d-flex">
                                                    <div class="col-md-2">
                                                        <label for="name">Name</label>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <input id="name" type="text" name="name"
                                                            class=" w-200px form-control mb-4" placeholder="Name"
                                                            value="{{user.name}}" required>
                                                    </div>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="col-md-2">
                                                        <label for="email">Email</label>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <input id="email" type="email" name="email"
                                                            class="form-control mb-4" placeholder="Email"
                                                            value="{{user.email}}" required>
                                                    </div>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="col-md-2">
                                                        <label for="mobile">Mobile</label>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <input id="mobile" type="text" name="number"
                                                            class="form-control mb-4" placeholder="Mobile"
                                                            value="{{user.number}}" required>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div>
                                                    {{!-- <input type="submit" value="Submit"> --}}
                                                    <button type="submit" class="btn btn-success rounded-pill">Edit
                                                        User</button>
                                                </div>


                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{user.name}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{user.email}}</p>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Mobile</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{user.number}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Address</p>
                                </div>
                                {{#if userAddress}}
                                <ul>
                                    {{#each userAddress}}
                                    <li class="ms-5">
                                        <p class="text-muted mb-0">{{this.address}}, {{this.pincode}}</p>
                                    </li>
                                    {{/each}}
                                </ul>
                                {{else}}
                                <p class="text-muted mb-0">No Saved Address</p>
                                {{/if}}

                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </section>
</section>